language: php

php: [5.3, 5.4, 5.5, hhvm]

env:
  - SYMFONY_VERSION='2.1.*'
  - SYMFONY_VERSION='2.2.*'
  - SYMFONY_VERSION='2.3.*'
  - SYMFONY_VERSION='2.4.*'

before_script:
  - composer require --no-update symfony/symfony=$SYMFONY_VERSION
  - composer install --prefer-source

script: vendor/bin/phpunit
