<?php

require_once __DIR__ . '/vendor/symfony/src/Symfony/Component/HttpFoundation/UniversalClassLoader.php';
use Symfony\Component\HttpFoundation\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Behat'   => __DIR__ . '/src',
    'Symfony' => __DIR__ . '/vendor/symfony/src'
));
$loader->register();
